<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="student100"
          class="com.zengxin.homework0501.work2.Student">
        <property name="id" value="100" />
        <property name="name" value="KK100" />
    </bean>
    
</beans>